body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

footer {
    background-color: lightblue;
    color: white;
    padding:16px;
}

a {
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
}